/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.cdnfonts.com/css/garet');

body {
    font-family: 'Garet', sans-serif;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

nav {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100vw;
    height: 4rem;
    background-color: #E9762B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    color: #F1F0E9;
}

nav h1 {
    font-size: 25.5px;
    font-weight: 600;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #F1F0E9;
}

.profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container:hover {
    cursor: pointer;
}

.sidebar {
    width: 16rem;
    height: calc(100vh - 4rem);
    background-color: #41644A;
}

.workspace-container {
    margin: 1.25rem;
    margin-top: 2rem;
}

.workspace-container h1 {
    font-size: 1.25rem;
    color: #F1F0E9;
}

.add-workspace-button {
    margin: 1rem;
    width: 12rem;
    height: 2rem;
    font-family: 'Garet', sans-serif;
    border-radius: 2rem;
    border-style: none;
    background-color: #F1F0E9;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-workspace-button:hover {
    cursor: pointer;
    background-color: #D9D7CE;
    transform: scale(1.05);
}

.add-workspace-button:active {
    transform: translateY(-2px); /* Jumping effect */
}

.workspace {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #F1F0E9;
    border: 1px solid #F1F0E9;
    border-radius: 0.5rem;
    height: 2rem;
    width: 12rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.workspace:hover {
    cursor: pointer;
    background-color: #F1F0E9;
    color: #41644A;
    transform: scale(1.05);
}

.workspace:active {
    transform: translateY(-2px); /* Jumping effect */
}

.active-workspace {
    background-color: #F1F0E9;
    color: #41644A;
}

.component {
    width: calc(100vw - 16rem);
    height: calc(100vh - 4rem);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}